.modalContainer {
  justify-content: flex-end;
  width: 360px;
  height: 680px;
  background-color: white;
  padding: 29px 20px;
  position: relative;
}

.headerModal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.closeBtn {
  border: none;
  position: absolute;
  display: block;
  top: 28px;
  right: 20px;
  background: none;
  border: none;

  cursor: pointer;
  padding: 0;
}

.timerBox {
  margin-bottom: 24px;
}

.timerTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.formInput {
  width: 100%;
  padding: 12px 16px;
  background-color: #f2f4fa;
  margin-bottom: 20px;
  color: #767b8e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.flagIcon {
  position: absolute;
  padding-top: 16px;
  padding-left: 16px;
}

.formInputNumber {
  width: 304px;
  padding: 12px 0 12px 48px;
  background-color: #f2f4fa;
  margin-bottom: 20px;
  color: #767b8e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
}

.formInputCheckBox {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.checkpointIcon {
  width: 16px;
  height: 16px;
}

.formText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
}

.formBtnSubmit {
  width: 350px;
  background-color: #0f7c41;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

.formErrorMessage {
  margin-bottom: 6px;
  color: red;
}

.modalOverlay {
  position: absolute;
  top: 46%;
  left: 66%;
  transform: translate(-50%, -50%);
}

.containerForm {
  width: 320px;
}

.modalContent {
  position: relative;
  max-width: 336px;
  background: #fff;
  padding: 30px 20px;
  border-color: none;
  box-shadow: 0px 0px 20px 0px #0f7c4133;
}

.modalContent:hover :active {
  border-color: none;
}

@media (min-width: 768px) {
  .modalContainer {
    width: 336px;
    height: 518px;
    margin-top: 81px;
  }
  .headerModal {
    display: none;
  }

  .containerForm {
    width: 296px;
  }

  .formBtnSubmit {
    width: 328px;
  }

  .formInputNumber {
    width: 280px;
  }
}
